body {
	background-image: url('Images/Backgroundimage/wallpaper.jpg');
}

@font-face {
    font-family: "Old";
    src: url('fonts/Old_R.ttf') format('opentype');
}

@font-face {
    font-family: "Florsn17";
    src: url('fonts/Florsn17.ttf') format('opentype');
}

#title {
	font-family: Old;
	color: darkgrey;	
	margin: auto;
	margin-top: 20em;
	margin-left: 10em;
	text-align: left;
}

#menu {
	color: darkgray;
	list-style-type: none;
	margin-left: 7em;
}

#menu li {
	margin-bottom: 1em;	
}

#menu li a {
	text-decoration: none;
	color: darkgray;
}

#menu li a:hover {
	color:  white;
}

#toplineMenu {
	border-color: darkgrey;
	width: 10.8em;
	margin-left: 8em;
}

#bottomlineMenu {
	border-color: darkgrey;
	width: 10.8em;
	margin-left: 8em;
}

#Introduction {
	float: right;
	position: fixed;
	top: 15em;
	margin-left: 40em;
	color: darkgrey;
}

#Introduction hr {
	border-color: darkgrey;
	width: 50em;
	margin-right: 20em;
}

#Introduction p {
	width: 50em;
	word-wrap: break-word;
}

#IntroductionTitle {
	float: right;
	position: fixed;
	top: 8em;
	margin-left: 27em;
	color: darkgrey;
}

